.background-forms {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  margin: -10px;
  place-items: center;
  width: 400px;
  border-radius: 5px;
  flex-direction: column;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 9;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputs-containers {
  margin-top: 1px;
  cursor: pointer;
  font-size: 15px;
  padding: 0px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputs-containers:hover {
  justify-content: center;
  place-items: center;
  box-shadow: 0 8px 16px 0 rgba(23, 23, 24, 0.918), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.encabezados {
  display: flex;
  justify-content: center;
  line-height: 0.1;
  margin-top: 10px; 
  width: 400px;
}

.input,
textarea {
  width: 100%;
  padding: 0.9px;
  margin-bottom: 0.5px;
  border-radius: 8px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buttons:not(.hidden) {
  display: flex;
  transform: translateX(0%);
}

.buttons:hover {
  background-color: #cdd7e2da;
  color: #fff;
  border-color: rgb(176, 176, 211);
  box-shadow: 0 5px 5px 0 rgba(170, 178, 223, 0.897), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttons-clicked {
  margin: 5px auto;
  width: 50%;
  display: block;
  border-radius: 0.5rem;
  padding: 0.4px;
  background-color: hsl(239, 56%, 70%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(110, 165, 228, 0.918), 0 6px 20px 0 rgba(0,0,0,0.19);
}
